@model PotenzaggSite.Models.Usuario

@{
    ViewData["Title"] = "LiveForStream";
    var msg = TempData["Message"] as string;
}

<main>
    <!-- slider-area -->
    <section class="slider-area">
        <div class="slider-active">
            <div class="single-slider slider-bg slider-style-two">
                <div class="container-fluid container-full-padding">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-11">
                            <div class="slider-content">
                                <h6 data-animation="fadeInUp" data-delay=".4s">Formação</h6>
                                <h2 data-animation="fadeInUp" data-delay=".4s">LIVE FOR <span>STREAM</span></h2>
                                <p data-animation="fadeInUp" data-delay=".6s">
                                    Desenvolvido para streamers iniciantes (com
                                    menos de 100 viewers) o Live4Stream é
                                    resultado de 2 anos de muita
                                    pesquisa,estudo, e muitos testes práticos
                                    deixando de ser apenas mais um curso, se
                                    tornando um método comprovado e eficaz
                                    que levará suas lives para o próximo nível.
                                    Através de ações simples e estratégicas é
                                    completamente possível chegar nos 100
                                    viewers
                                    <br />
                                    <br />
                                    <a href="#" class="btn btn-style-two" data-animation="fadeInUp" data-delay=".8s">COMPRAR AGORA</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-img" data-animation="slideInRightS" data-delay=".6s"><img src="~/img/images/streamer-bg-1.png" alt=""></div>
                <div class="slider-img slider-img2" data-animation="slideInLeftS" data-delay=".6s"><img src="~/img/images/streamer-bg-2.png" alt=""></div>
                <div class="slider-circle-shape"><img src="~/img/slider/slider_circle.png" alt="" class="rotateme"></div>
            </div>
        </div>
    </section>
    <!-- slider-area-end -->
    <!--Inicio Formulário de Inscrição -->
    <section class="contact-area third-contact-bg">
        <div class="container custom-container">
            <h1 style="font-size: 30px; text-align: center;">
                Faça já seu cadastro! Você terá a primeira aula grátis e poderá
                mergulhar de vez nesse universo de Livestreams.
            </h1>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="third-contact-wrap">
                        <div class="third-title-style">
                            <br />
                            <br />
                            <div class="inner text-left">
                                @Html.Partial("_CadastroLiveForStream")
                                <br />
                                @* <iframe title="vimeo-player" src="https://player.vimeo.com/video/475464859?h=6d16a502ea" width="640" height="360" frameborder="0" allowfullscreen></iframe>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cta-img">
                    <br />
                    <br />
                    <img style=" width: 91%; margin-top: -87px; margin-left: 27px;" src="~/img/images/streamer-form.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--Finalização Formulario de Inscrição-->
    <!-- new-games-area -->
    <section class="released-games-area gray-bg pt-115 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title title-style-three text-center mb-20">
                        <h2>O que eu vou <span>Aprender?</span></h2>
                        <p>
                            Bem Vindo a Summoners Rift, seus trollzinhos! Você está preparado para essa grande jornada em busca do High Elo? Então escolha seu campeão, dá aquele target ban no champ adversário e vem com o Guinho pra essa mentoria que vai te ajudar a alcançar o topo do League of Legends: Wild Rift!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xl-8 col-lg-12">
                    <div class="released-game-active">
                        <div class="released-game-carousel">
                            <div class="released-game-item">
                                <div class="released-game-item-bg"></div>
                                <div class="released-game-img">
                                    <img src="~/img/modulos/slider-streamer-1.png" alt="">
                                </div>
                                <div class="released-game-content">
                                    <div class="released-game-rating">
                                        <h5>Classificação :</h5>
                                        <div class="released-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <h4>Módulo 1:<br />Sobre o Streamer</h4>

                                    <div class="released-game-list mb-15">
                                        <ul>
                                            <li><span>Quantidade de Aulas :</span>4 Aulas</li>
                                            <li><span>Metodologia: </span>Ensino a Distância</li>
                                            <li><span>Requisitos :</span>Smartphone Android & IOS</li>
                                        </ul>
                                    </div>
                                    <p></p>
                                    <a href="https://pay.hotmart.com/S55981393L" class="btn btn-style-two">Assinar Agora</a>
                                </div>
                            </div>
                        </div>
                        <!--Toplaner-->
                        <div class="released-game-carousel">
                            <div class="released-game-item">
                                <div class="released-game-item-bg"></div>
                                <div class="released-game-img">
                                    <img src="~/img/modulos/slider-streamer-2.png" alt="">
                                </div>
                                <div class="released-game-content">
                                    <div class="released-game-rating">
                                        <h5>Classificação :</h5>
                                        <div class="released-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <h4>Módulo 2:<br /> Habilidades e Ações em Livestream</h4>
                                    <div class="released-game-list mb-15">
                                        <ul>
                                            <li><span>Quantidade de Aulas :</span>3 Aulas</li>
                                            <li><span>Metodologia: </span>Ensino a Distância</li>
                                            <li><span>Requisitos :</span>Smartphone Android & IOS</li>
                                        </ul>
                                    </div>
                                    <p>Nesse módulo, você irá aprender tudo sobre como ser um ótimo jogador na rota do barão nashor.</p>
                                    <a href="#" target="_blank" class="btn btn-style-two">Comprar Agora</a>
                                </div>
                            </div>
                        </div>
                        <!--Jungler-->
                        <div class="released-game-carousel">
                            <div class="released-game-item">
                                <div class="released-game-item-bg"></div>
                                <div class="released-game-img">
                                    <img src="~/img/modulos/slider-streamer-2.png" alt="">
                                </div>
                                <div class="released-game-content">
                                    <div class="released-game-rating">
                                        <h5>Classificação :</h5>
                                        <div class="released-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <h4>Módulo 3:<br /> Marketing Digital Para Streamers</h4>
                                    <div class="released-game-list mb-15">
                                        <ul>
                                            <li><span>Quantidade de Aulas :</span>4 Aulas</li>
                                            <li><span>Metodologia: </span>Ensino a Distância</li>
                                            <li><span>Requisitos :</span>Smartphone Android & IOS</li>
                                        </ul>
                                    </div>
                                    <p>
                                        Nesse módulo, você irá aprender tudo sobre como ser um ótimo jogador na rota do meio./p>
                                        <a href="https://pay.hotmart.com/S55981393L" class="btn btn-style-two">Comprar Agora</a>
                                </div>
                            </div>
                        </div>
                        <!--Midlaner-->
                        <div class="released-game-carousel">
                            <div class="released-game-item">
                                <div class="released-game-item-bg"></div>
                                <div class="released-game-img">
                                    <img src="~/img/modulos/slider-streamer-3.png" alt="">
                                </div>
                                <div class="released-game-content">
                                    <div class="released-game-rating">
                                        <h5>Classificação :</h5>
                                        <div class="released-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <h4>Módulo 4:<br /> Stream na Prática: OBS Studio</h4>
                                    <div class="released-game-list mb-15">
                                        <ul>
                                            <li><span>Quantidade de Aulas :</span>9 Aulas</li>
                                            <li><span>Metodologia: </span>Ensino a Distância</li>
                                            <li><span>Requisitos :</span>Smartphone Android & IOS</li>
                                        </ul>
                                    </div>
                                    <p>Nesse módulo, você irá aprender tudo sobre como ser um ótimo jogador na rota do dragão ( ADCarry )</p>
                                    <a href="https://pay.hotmart.com/S55981393L" class="btn btn-style-two">Comprar Agora</a>
                                </div>
                            </div>
                        </div>
                        <!--ADCarry-->
                        <div class="released-game-carousel">
                            <div class="released-game-item">
                                <div class="released-game-item-bg"></div>
                                <div class="released-game-img">
                                    <img src="~/img/modulos/slider-streamer-4.png" alt="">
                                </div>
                                <div class="released-game-content">
                                    <div class="released-game-rating">
                                        <h5>Classificação :</h5>
                                        <div class="released-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <h4>Módulo 5:<br />Stream na Prática: StreamElements</h4>
                                    <div class="released-game-list mb-15">
                                        <ul>
                                            <li><span>Quantidade de Aulas :</span>7 Aulas</li>
                                            <li><span>Metodologia: </span>Ensino a Distância</li>
                                            <li><span>Requisitos :</span>Smartphone Android & IOS</li>
                                        </ul>
                                    </div>
                                    <p>Nesse módulo, você irá aprender tudo sobre como ser um ótimo jogador na rota do dragão ( ADCarry )</p>
                                    <a href="https://pay.hotmart.com/S55981393L" class="btn btn-style-two">Comprar Agora</a>
                                </div>
                            </div>
                        </div>
                        <!--Suporte-->
                        <div class="released-game-carousel">
                            <div class="released-game-item">
                                <div class="released-game-item-bg"></div>
                                <div class="released-game-img">
                                    <img src="~/img/modulos/slider-streamer-4.png" alt="">
                                </div>
                                <div class="released-game-content">
                                    <div class="released-game-rating">
                                        <h5>Classificação :</h5>
                                        <div class="released-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <h4>Módulo 6:<br />Stream na Prática: Mais sobre o OBS Studio</h4>
                                    <div class="released-game-list mb-15">
                                        <ul>
                                            <li><span>Quantidade de Aulas :</span>4 Aulas</li>
                                            <li><span>Metodologia: </span>Ensino a Distância</li>
                                            <li><span>Requisitos :</span>Smartphone Android & IOS</li>
                                        </ul>
                                    </div>
                                    <p>Nesse módulo, você irá aprender tudo sobre como ser um ótimo jogador na rota do dragão ( ADCarry )</p>
                                    <a href="https://pay.hotmart.com/S55981393L" class="btn btn-style-two">Comprar Agora</a>
                                </div>
                            </div>
                        </div>
                        <div class="released-game-carousel">
                            <div class="released-game-item">
                                <div class="released-game-item-bg"></div>
                                <div class="released-game-img">
                                    <img src="~/img/modulos/slider-streamer-4.png" alt="">
                                </div>
                                <div class="released-game-content">
                                    <div class="released-game-rating">
                                        <h5>Classificação :</h5>
                                        <div class="released-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <h4>Módulo 6:<br />Sobre as Plataformas</h4>
                                    <div class="released-game-list mb-15">
                                        <ul>
                                            <li><span>Quantidade de Aulas :</span>4 Aulas</li>
                                            <li><span>Metodologia: </span>Ensino a Distância</li>
                                            <li><span>Requisitos :</span>Smartphone Android & IOS</li>
                                        </ul>
                                    </div>
                                    <p>Nesse módulo, você irá aprender tudo sobre como ser um ótimo jogador na rota do dragão ( ADCarry )</p>
                                    <a href="https://pay.hotmart.com/S55981393L" class="btn btn-style-two">Comprar Agora</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-12">
                    <div class="released-game-nav">
                        <div class="released-game-nav-item">
                            <img src="~/img/modulos/ticket-1.png" alt="">
                        </div>
                        <div class="released-game-nav-item">
                            <img src="~/img/modulos/ticket-2.png" alt="">
                        </div>
                        <div class="released-game-nav-item">
                            <img src="~/img/modulos/ticket-3.png" alt="">
                        </div>
                        <div class="released-game-nav-item">
                            <img src="~/img/modulos/ticket-4.png" alt="">
                        </div>

                        <div class="released-game-nav-item">
                            <img src="~/img/modulos/ticket-6.png" alt="">
                        </div>

                        <div class="released-game-nav-item">
                            <img src="~/img/modulos/ticket-8.png" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- new-games-area-end -->
    <!-- gamers-area -->
    <section class="just-gamers-area just-gamers-bg pt-115 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-10">
                    <div class="section-title title-style-three white-title mb-70">
                        <h2>FEITO DE JOGADORES <span>PARA JOGADORES!</span></h2>
                        <p>
                            Essas são as principais soft skills que você irá desenvolver<br />
                            em nosso curso.
                        </p>
                    </div>
                    <div class="just-gamers-list">
                        <ul>
                            <li>
                                <div class="just-gamers-list-icon">
                                    <img src="~/img/icon/gamer_list_icon01.png" alt="">
                                </div>
                                <div class="just-gamers-list-content fix">
                                    <h5>Se tornar um profissional:</h5>
                                    <p>
                                        O curso Streamer Profissional é indicado para qualquer pessoa que tem o desejo de
                                        profissionalizar seu canal do Youtube e Stream, seja ela iniciante ou avançada.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="just-gamers-list-icon">
                                    <img src="~/img/icon/gamer_list_icon02.png" alt="">
                                </div>
                                <div class="just-gamers-list-content fix">
                                    <h5>
                                        Ser seu próprio chefe
                                    </h5>
                                    <p>
                                        Você entenderá como trabalhar dentro do padrão de negócios do mundo do e-sports para realizar projetos bem sucedidos e de alto valor.
                                        Poderá atrair novos parceiros ou marcas contratantes como Streamer Profissional.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 d-none d-lg-block">
                    <div class="just-gamers-img">
                        <img src="~/img/images/just_gamers_img.png" alt="" class="just-gamers-character">
                        <div class="just-gamers-circle-shape">
                            <img src="~/img/images/gamers_circle_line.png" alt="">
                            <img src="~/img/images/gamers_circle_shape.png" alt="" class="rotateme">
                        </div>
                        <img src="~/img/images/just_gamers_chart.png" alt="" class="gamers-chart-shape">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



