@model PotenzaggSite.Models.Usuario

@{
    ViewData["Title"] = "LiveForStream";
    var msg = TempData["Message"] as string;
}

<main>
    <!-- slider-area -->
    <section class="slider-area">
        <div class="slider-active">
            <div class="single-slider slider-bg slider-style-two">
                <div class="container-fluid container-full-padding">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-11">
                            <div class="slider-content">
                                <h6 data-animation="fadeInUp" data-delay=".4s">Formação</h6>
                                <h2 data-animation="fadeInUp" data-delay=".4s">MARKETING<br /><span>DESCOMPLICADO</span></h2>
                                <p style="font-size: 23px;" data-animation="fadeInUp" data-delay=".6s">
                                    A formação Marketing de Sucesso Descomplicado, tem o objetivo de ensinar ao aluno sobre 
                                    criação e divulgação de uma marca de uma forma que essa marca cresça e traga resultados através 
                                    do Branding, gestão de mídias sociais, inbound & outbound e estratégias de marketing digital e 
                                    sustentável com 13 aulas completas de marketing e 1 ano de acesso.
                                </p>
                                <a href="https://pay.hotmart.com/S56816967M" target="_blank" class="btn btn-style-two" data-animation="fadeInUp" data-delay=".8s">GARANTIR MINHA VAGA</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-img" data-animation="slideInRightS" data-delay=".6s"><img src="~/img/images/streamer-bg-1.png" alt=""></div>
                <div class="slider-img slider-img2" data-animation="slideInLeftS" data-delay=".6s"><img src="~/img/images/streamer-bg-2.png" alt=""></div>
                <div class="slider-circle-shape"><img src="~/img/slider/slider_circle.png" alt="" class="rotateme"></div>
            </div>
        </div>
    </section>
    <!-- slider-area-end -->
    <!-- gamers-area -->
    <section class="just-gamers-area just-gamers-bg pt-115 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-8 col-md-10">
                    <div class="section-title title-style-three white-title mb-70">
                        <h2>FEITO PARA <span>PROFISSIONAIS DO FUTURO.</span></h2>
                        <p>
                            Essas são as principais  skills que você irá desenvolver<br />
                            em nosso curso.
                        </p>
                    </div>
                    <div class="just-gamers-list">
                        <ul>
                            <li>
                                <div class="just-gamers-list-icon">
                                    <img src="~/img/icon/gamer_list_icon01.png" alt="">
                                </div>
                                <div class="just-gamers-list-content fix">
                                    <h5>Branding e Gestão de Marca</h5>
                                    <p>
                                        Branding ou Brand Management é uma estratégia de gestão da marca que visa 
                                        torná-la mais reconhecida pelo seu público e presente no mercado.

                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="just-gamers-list-icon">
                                    <img src="~/img/icon/gamer_list_icon02.png" alt="">
                                </div>
                                <div class="just-gamers-list-content fix">
                                    <h5>
                                        E-Commerce
                                    </h5>
                                    <p>
                                        Ele se refere às transações comerciais realizadas totalmente online. Desde a escolha do produto pelo cliente, até a finalização do pedido, com o pagamento, todo o processo deve ser realizado por meios digitais.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 d-none d-lg-block">
                    <div class="just-gamers-img">
                        <div class="just-gamers-circle-shape">
                            <img src="~/img/images/gamers_circle_line.png" alt="">
                            <img src="~/img/images/gamers_circle_shape.png" alt="" class="rotateme">
                        </div>
                        <img src="~/img/images/just_gamers_chart.png" alt="" class="gamers-chart-shape">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- new-games-area -->
    <section class="released-games-area gray-bg pt-115 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-8">
                    <div class="section-title title-style-three text-center mb-20">
                        <h2>O que eu vou <span>Aprender?</span></h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xl-8 col-lg-12">
                    <div class="released-game-active">
                        <!--Módulo 1-->
                        <div class="released-game-carousel">
                            <div class="released-game-item">
                                <div class="released-game-item-bg"></div>
                                <div class="released-game-img">
                                    <img src="~/img/images/marketing/marketing.png" alt="">
                                </div>
                                <div class="released-game-content">
                                    <div class="released-game-rating">
                                        <h5>Classificação :</h5>
                                        <div class="released-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <h4>Módulo 1:<br /> O QUE É MARKETING?</h4>
                                    <div class="released-game-list mb-15">
                                        <ul>
                                            <li><span>Quantidade de Aulas :</span>3 Aulas</li>
                                            <li><span>Metodologia: </span>Ensino a Distância</li>
                                            <li><span>Requisitos :</span>Smartphone Android & IOS</li>
                                        </ul>
                                    </div>
                                    <a href="https://pay.hotmart.com/S55981393L" class="btn btn-style-two">GARANTIR MINHA VAGA</a>
                                </div>
                            </div>
                        </div>
                        <!--Modulo 2-->
                        <div class="released-game-carousel">
                            <div class="released-game-item">
                                <div class="released-game-item-bg"></div>
                                <div class="released-game-img">
                                    <img src="~/img/images/marketing/marketing-business.png" alt="">
                                </div>
                                <div class="released-game-content">
                                    <div class="released-game-rating">
                                        <h5>Classificação :</h5>
                                        <div class="released-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <h4>Módulo 2:<br />MARKETING PARA NEGÓCIOS</h4>
                                    <div class="released-game-list mb-15">
                                        <ul>
                                            <li><span>Quantidade de Aulas :</span>4 Aulas</li>
                                            <li><span>Metodologia: </span>Ensino a Distância</li>
                                            <li><span>Requisitos :</span>Smartphone Android & IOS</li>
                                        </ul>
                                    </div>
                                    <a href="https://pay.hotmart.com/S56816967M" class="btn btn-style-two">GARANTIR MINHA VAGA</a>
                                </div>
                            </div>
                        </div>
                        <!--Modulo 3-->
                        <div class="released-game-carousel">
                            <div class="released-game-item">
                                <div class="released-game-item-bg"></div>
                                <div class="released-game-img">
                                    <img src="~/img/images/marketing/social-media.png" alt="">
                                </div>
                                <div class="released-game-content">
                                    <div class="released-game-rating">
                                        <h5>Classificação :</h5>
                                        <div class="released-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <h4>Módulo 3:<br /> MARKETING NAS REDES SOCIAIS</h4>
                                    <div class="released-game-list mb-15">
                                        <ul>
                                            <li><span>Quantidade de Aulas :</span>5 Aulas</li>
                                            <li><span>Metodologia: </span>Ensino a Distância</li>
                                            <li><span>Requisitos :</span>Smartphone Android & IOS</li>
                                        </ul>
                                    </div>
                                    <a href="https://pay.hotmart.com/S56816967M" class="btn btn-style-two">GARANTIR MINHA VAGA</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-12">
                    <div class="released-game-nav">
                        <div class="released-game-nav-item">
                            <img src="~/img/images/marketing/ticket-1.png" alt="">
                        </div>
                        <div class="released-game-nav-item">
                            <img src="~/img/images/marketing/ticket-2.png" alt="">
                        </div>
                        <div class="released-game-nav-item">
                            <img src="~/img/images/marketing/ticket-3.png" alt="">
                        </div>
                        <div class="released-game-nav-item">
                            <img src="~/img/images/marketing/ticket-4.png" alt="">
                        </div>

                        <div class="released-game-nav-item">
                            <img src="~/img/images/marketing/ticket-5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- new-games-area-end -->
    <!--Inicio Formulário de Inscrição -->
    <section class="contact-area third-contact-bg">
        <div class="container custom-container">
            <h1 style="font-size: 30px; text-align: center;">
                Faça já seu cadastro e não perca a oportunidade de ser um profissional
                do futuro.
            </h1>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="third-contact-wrap">
                        <div class="third-title-style">
                            <br />
                            <br />
                            <div class="inner text-left">
                                @Html.Partial("_CadastroLiveForStream")
                                <br />
                                @* <iframe title="vimeo-player" src="https://player.vimeo.com/video/475464859?h=6d16a502ea" width="640" height="360" frameborder="0" allowfullscreen></iframe>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-0 order-lg-2">
                    <div class="about-img">
                        <img src="~/img/images/marketing/marketing-digital.png" alt="">
                        <a href="https://vimeo.com/475464859" class="popup-video"><img src="~/img/icon/play_btn.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Finalização Formulario de Inscrição-->
</main>





