@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- featured-game-area -->
<section class="featured-game-area new-released-game-area pt-115 pb-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="section-title home-four-title black-title text-center mb-60">
                    <h2>FORMAÇÕES <span>POTENZA GG</span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-full">
        <div class="row no-gutters new-released-game-active">
            <div class="col-lg-3">
                <div class="featured-game-item mb-30">
                    <div class="featured-game-thumb">
                        <img src="~/img/cursos/live-for-stream.jpg" alt="">
                    </div>
                    <div class="featured-game-content">
                        <h4><a href="https://pay.hotmart.com/V53577333G" target="_blank">LIVE FOR <span>STREAM</span></a></h4>
                        <div class="featured-game-meta">
                            <i class="fas fa-bell"></i>
                            <span>FAZER CADASTRO</span>
                        </div>
                    </div>
                    <div class="featured-game-content featured-game-overlay-content">
                        <div class="featured-game-icon"><img src="~/img/icon/featured_game_icon.png" alt=""></div>
                        <h4><a href="https://pay.hotmart.com/V53577333G" target="_blank">LIVE FOR <span>STREAM</span></a></h4>
                        <div class="featured-game-meta">
                            <i class="fas fa-bell"></i>
                            <span>FAZER CADASTRO</span>
                        </div>
                    </div>
                </div>
            </div>

            <!--Curso 2 Inicio-->
            <div class="col-lg-3">
                <div class="featured-game-item mb-30">
                    <div class="featured-game-thumb">
                        <img src="~/img/cursos/marketing-digital.jpg" alt="">
                    </div>
                    <div class="featured-game-content">
                        <h4><a href="https://pay.hotmart.com/S56816967M" target="_blank">MARKETING DIGITAL <span>DESCOMPLICADO</span></a></h4>
                        <div class="featured-game-meta">
                            <i class="fas fa-bell"></i>
                            <span>FAZER CADASTRO</span>
                        </div>
                    </div>
                    <div class="featured-game-content featured-game-overlay-content">
                        <div class="featured-game-icon"><img src="~/img/icon/featured_game_icon.png" alt=""></div>
                        <h4><a href="https://pay.hotmart.com/S56816967M" target="_blank">MARKETING DIGITAL <span>DESCOMPLICADO</span></a></h4>
                        <div class="featured-game-meta">
                            <i class="fas fa-bell"></i>
                            <span>FAZER CADASTRO</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Curso 2 Fim-->
            <!--Curso 3 - Mentoria of Legends Inicio-->
            <div class="col-lg-3">
                <div class="featured-game-item mb-30">
                    <div class="featured-game-thumb">
                        <img src="~/img/cursos/mentoria-of-legends.jpg" alt="">
                    </div>
                    <div class="featured-game-content">
                        <h4><a href="https://pay.hotmart.com/S55981393L" target="_blank">MENTORIA <span>OF LEGENDS:<br />WILD RIFT</span></a></h4>
                        <div class="featured-game-meta">
                            <i class="fas fa-bell"></i>
                            <span>FAZER CADASTRO</span>
                        </div>
                    </div>
                    <div class="featured-game-content featured-game-overlay-content">
                        <div class="featured-game-icon"><img src="~/img/icon/featured_game_icon.png" alt=""></div>
                        <h4><a href="https://pay.hotmart.com/S55981393L" target="_blank">MENTORIA <span>OF LEGENDS <br />WILD RIFT</span></a></h4>
                        <div class="featured-game-meta">
                            <i class="fas fa-bell"></i>
                            <span>FAZER CADASTRO</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Curso 3 - Mentoria of Legends Fim-->
            <!--Curso 4 - Mentoria of Legends Inicio-->
            <div class="col-lg-3">
                <div class="featured-game-item mb-30">
                    <div class="featured-game-thumb">
                        <img src="~/img/cursos/caster-esports.jpg" alt="">
                    </div>
                    <div class="featured-game-content">
                        <h4><a href="#">CASTER DE <span>E-SPORTS</span></a></h4>
                        <div class="featured-game-meta">
                            <i class="fas fa-bell"></i>
                            <span>LANÇAMENTO EM BREVE</span>
                        </div>
                    </div>
                    <div class="featured-game-content featured-game-overlay-content">
                        <div class="featured-game-icon"><img src="~/img/icon/featured_game_icon.png" alt=""></div>
                        <h4><a href="#">CASTER DE <span>E-SPORTS</span></a></h4>
                        <div class="featured-game-meta">
                            <i class="fas fa-bell"></i>
                            <span>LANÇAMENTO EM BREVE</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Curso 4 - Mentoria of Legends Fim-->
        </div>
    </div>
</section>
<!-- featured-game-area-end -->
