<main>
    <section class="breadcrumb-area breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2>SEJA UM STREAMER<br /><span>POTENZA GG</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="inner-about-area fix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-6 order-0 order-lg-2">
                    <div class="inner-about-img">
                        <img src="~/img/images/inner_about_img01.png" class="wow fadeInRight" data-wow-delay=".3s" alt="">
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="section-title title-style-three mb-25">
                        <h2>PROGRAMA DE <span>EMBAIXADORES</span></h2>
                    </div>
                    <div class="inner-about-content">
                        <h5>O QUE É SER UM EMBAIXADOR POTENZA.GG?</h5>
                        <p>
                            O embaixador parceiro é um representante da Potenza GG que colabora
                            transmitindo nossa mensagem impactando positivamente seu público, de uma forma mais direta, clara e sem
                            ruído como se fosse um porta-voz tornando nossa comunicação mais próxima e humanizada.
                        </p>
                        <a href="#embaixador-form" class="btn btn-style-two">REALIZAR INSCRIÇÃO</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner-about-shape"><img src="img/images/medale_shape.png" alt=""></div>
    </section>
    <!--Fim Introdução ao programa de embaixadores.-->

    <section class="features-area features-bg pt-120 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title title-style-two text-center mb-60">
                        <h2>OBJETIVO DO PROGRAMA DE <span>EMBAIXADORES</span></h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-4 col-md-6">
                    <div class="features-item mb-30">
                        <div class="features-head mb-35">
                            <h4>VISÃO DE PARCERIA</h4>
                            <p>
                                Criar, promover, fortalecer e estabelecer os streamers mais alinhados com nossa
                                visão de contribuir com a construção de uma comunidade de Wild Rift inclusiva e não tóxica.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6">
                    <div class="features-item mb-30">
                        <div class="features-head mb-35">
                            <h4>VISIBILIDADE PARA O STREAMER</h4>
                            <p>
                                Ganho de visibilidade para o streamer parceiro através de
                                divulgações em nossas redes sociais.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="features-item mb-30">
                        <div class="features-head mb-35">
                            <h4>Parceria Monetizada</h4>
                            <p>
                                Aumento de audiência na twitch sendo apresentado a nossa comunidade de
                                WR com mais de 400 membros ativos e Divulgação da nossa marca e produtos
                                através com programas de monetização.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features-area breadcrumb-bg pt-120 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title title-style-two text-center mb-60">
                        <h2>PORQUÊ SER <span>UM EMBAIXADOR POTENZA.GG</span></h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-4 col-md-6">
                    <div class="features-item mb-30">
                        <div class="features-head mb-35">
                            <h4>
                                RECONHECIMENTO NO CENÁRIO E-SPORTS
                            </h4>
                            <p>
                                Ser reconhecido como alguém que realmente fez a diferença com suas contribuições no cenário e-Sports.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6">
                    <div class="features-item mb-30">
                        <div class="features-head mb-35">
                            <h4>VISIBILIDADE PARA O STREAMER</h4>
                            <p>
                                Aumento de audiência na twitch sendo apresentado
                                a nossa comunidade de WR com mais de 400 membros ativos.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="features-item mb-30">
                        <div class="features-head mb-35">
                            <h4>BRANDING FOR STREAM</h4>
                            <p>
                                Ter a sua marca como streamer alinhado a nossa marca tendo
                                possibilidade de ser contratado para ser um streamer Potenza GG
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- area-bg-one -->
    <div class="area-bg-one">

        <!-- latest-games-area -->
        <section class="latest-games-area pt-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="section-title mb-50">
                            <span>LATEST RELEASES</span>
                            <h2>Create & <span>Manage</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="latest-games-active owl-carousel">
                            <div class="latest-games-items mb-30">
                                <div class="latest-games-thumb">
                                    <a href="#"><img src="~/img/product/latest_games_thumb01.jpg" alt=""></a>
                                </div>
                                <div class="latest-games-content">
                                    <div class="lg-tag">
                                        <a href="#">racing</a>
                                    </div>
                                    <h4><a href="#">Vertical Games <span>Daily</span></a></h4>
                                    <p>entry fee : <span>free</span></p>
                                </div>
                            </div>
                            <div class="latest-games-items mb-30">
                                <div class="latest-games-thumb">
                                    <a href="#"><img src="~/img/product/latest_games_thumb02.jpg" alt=""></a>
                                </div>
                                <div class="latest-games-content">
                                    <div class="lg-tag">
                                        <a href="#">zombie</a>
                                    </div>
                                    <h4><a href="#">Hunter Killer <span>ii</span></a></h4>
                                    <p>entry fee : <span>$25,00</span></p>
                                </div>
                            </div>
                            <div class="latest-games-items mb-30">
                                <div class="latest-games-thumb">
                                    <a href="#"><img src="~/img/product/latest_games_thumb03.jpg" alt=""></a>
                                </div>
                                <div class="latest-games-content">
                                    <div class="lg-tag">
                                        <a href="#">creative</a>
                                    </div>
                                    <h4><a href="#">Sky Walker <span>Daily</span></a></h4>
                                    <p>entry fee : <span>$25,00</span></p>
                                </div>
                            </div>
                            <div class="latest-games-items mb-30">
                                <div class="latest-games-thumb">
                                    <a href="#"><img src="~/img/product/latest_games_thumb01.jpg" alt=""></a>
                                </div>
                                <div class="latest-games-content">
                                    <div class="lg-tag">
                                        <a href="#">racing</a>
                                    </div>
                                    <h4><a href="#">Vertical games <span>daily</span></a></h4>
                                    <p>entry fee : <span>free</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- latest-games-area-end -->
    </div>
    <!-- area-bg-one-end -->

</main>