@page
@model PotenzaggSite.Views.Home.FormacoesModel
@{
}
<main>

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2>Conheça os <span>Cursos</span></h2>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->
    <!-- shop-area -->
    <section class="shop-area pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="accessories-item text-center mb-80">
                        <div class="accessories-thumb mb-30">
                            <a href="@Url.Action("LiveForStream", "Curso", new { area = "" })"><img src="~/img/images/loja-streamer-1.png" alt=""></a>
                        </div>
                        <div class="accessories-content">
                            <h5><a href="#">Live for Stream</a></h5>
                            <span>Preço: R$799,99</span>
                            <a href="https://pay.hotmart.com/V53577333G?checkoutMode=10" class="shop-add-action">Comprar Agora</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="accessories-item text-center mb-80">
                        <div class="accessories-thumb mb-30">
                            <a href="#"><img src="~/img/images/loja-mentoria-1.png" alt=""></a>
                        </div>
                        <div class="accessories-content">
                            <h5><a href="@Url.Action("MentoriaOfLegends", "Curso", new { area = "" })">Mentoria of Legends</a></h5>
                            <span>VAGAS ENCERRADAS</span>
                            <a href="#" class="shop-add-action">VAGAS ENCERRADAS</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="accessories-item text-center mb-80">
                        <div class="accessories-thumb mb-30">
                            <a href="#"><img src="~/img/images/loja-marketing-1.png" alt=""></a>
                        </div>
                        <div class="accessories-content">
                            <h5><a href="@Url.Action("MarketingDigital", "Curso", new { area = "" })">Marketing Digital Descomplicado</a></h5>
                            <span>Preço: R$199,00</span>
                            <a href="#" class="shop-add-action">Comprar Já</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="accessories-item text-center mb-80">
                        <div class="accessories-thumb mb-30">
                            <a href="#"><img src="~/img/images/loja-freefire-1.png" alt=""></a>
                        </div>
                        <div class="accessories-content">
                            <h5><a href="@Url.Action("FreeFire", "Curso", new { area = "" })">FreeFire: do zero ao competitivo</a></h5>
                            <span>Preço: R$399,90</span>
                            <a href="https://pay.hotmart.com/N56101862I" class="shop-add-action">Comprar Já</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- shop-area-end -->

</main>